.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.kocmapContainer {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.kocmapIframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.mapHeader {
  text-align: center;
}

.logoCentered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.logoCentered img {
  max-width: 40vw; /* Maximum width is 50% of the viewport width */
  height: auto;    /* Maintain aspect ratio */
  max-height: 80vh; /* Ensures the logo doesn't get too tall */
}