/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoCentered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoCentered img {
  /* Maintain aspect ratio */
  height: auto;
  /* Ensures the logo doesn't get too tall */
  width: 50vw;
}

@media screen and (max-width: 800px) {
  .logoCentered {
    flex-direction: column;
  }

  .logoCentered img {
    width: 100%;
    height: auto;
  }
}